In [74]:
import pandas as pd

In [75]:
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

df = table[1];
df.isnull().sum()

df = df.dropna()
df.duplicated().sum()

df = df.drop([1])
df = df.drop([4])
df = df.drop([7])
df = df.drop([10])

In [77]:
df = df.T.reset_index().rename(columns={"index":"구"})

In [78]:
df.T

      0    1    2    3    4     5
구   종로구   중구  용산구  성동구  광진구  동대문구
0   164  168  299  288  266   400
2   중랑구  성북구  강북구  도봉구  노원구   은평구
3   455  550  256  393  566   494
5  서대문구  마포구  양천구  강서구  구로구   금천구
6   341  405  428  874  355   163
8  영등포구  동작구  관악구  서초구  강남구   송파구
9   416  551  692  617  675   758

In [89]:
df1 = df.loc[:, ["구",0]].T
df2 = df.loc[:, [2,3]].T
df3 = df.loc[:, [5,6]].T
df4 = df.loc[:, [8,9]].T

      0    1    2    3    4    5
8  영등포구  동작구  관악구  서초구  강남구  송파구
9   416  551  692  617  675  758

In [96]:
df1 = df1.rename(index={0: '확진자수'})
df2 = df2.rename(index={2: '구', 3:'확진자수'})
df3 = df3.rename(index={5: '구',6:'확진자수'})
df4 = df4.rename(index={8: '구',9:'확진자수'})

In [107]:
frames = [df1, df2, df3, df4]
result = pd.concat(frames, axis=1)
result

,0,1,2,3,4,5,0,1,2,3,...,2,3,4,5,0,1,2,3,4,5
구,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,양천구,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구
확진자수,164,168,299,288,266,400,455,550,256,393,...,428,874,355,163,416,551,692,617,675,758

In [117]:
from datetime import datetime

In [119]:
today = datetime.today().strftime("%Y-%m-%d")

In [120]:
today

'2020-12-12'

In [202]:
result = result.T

In [205]:
result = result.set_index('구')

In [206]:
result.to_csv(f'{today}.csv')

In [225]:
df = table[2]
df= df.T
df = df.drop(['소계'])

df.to_csv('where.csv')

                         0
해외유입                   577
강서구 소재 교회 관련            91
종로구 소재 파고다타운 관련        191
중구 소재 콜센터Ⅱ 관련           19
강서구 소재 댄스교습 관련 시설      215
강서구 소재 댄스교습 연관 병원 관련    52
은평구 소재 역사 관련            13
제주도 퇴직교사 모임             14
기타 집단 감염              5349
기타 확진자 접촉             2594
타시도 확진자 접촉             579
감영경로 조사중              2094